<div class="section p-3">
    <h1>
      Titulo del {{ title }}!
    </h1>
     <br>
    <div class="row">
      <div class="col-md-4">
        <div class="card" (click)="goToNew(1)">
          <div class="row">
            <div class="col-md-12 p-0">
              <img width=100% src="../assets/SALUD.jpg" alt="">
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <h4>Primera noticia</h4>
              </div>
              <div class="col-md-12">
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic aliquid, quaerat, natus eligendi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="goToNew(2)">
          <div class="row">
            <div class="col-md-12 p-0">
              <img width=100% src="../assets/VIDA.jpg" alt="">
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <h4>Segunda noticia</h4>
              </div>
              <div class="col-md-12">
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic aliquid, quaerat, natus eligendi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" (click)="goToNew(3)">
          <div class="row">
            <div class="col-md-12 p-0">
              <img width=100% src="../assets/AHORRO.jpg" alt="">
            </div>
            <div class="card-body">
              <div class="col-md-12">
                <h4>Tercera noticia</h4>
              </div>
              <div class="col-md-12">
                <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic aliquid, quaerat, natus eligendi</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
